  <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [legend]="showLegend"
        [explodeSlices]="explodeSlices"
        [labels]="showLabels"
        [doughnut]="doughnut"
        [gradient]="gradient"
        (select)="onSelect($event)">
  </ngx-charts-pie-chart>


  <ngx-charts-advanced-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        (select)="onSelect($event)">
  </ngx-charts-advanced-pie-chart>

  <ngx-charts-pie-grid
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        (select)="onSelect($event)">
  </ngx-charts-pie-grid>
